// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$primary: #416165;
$secondary: #ACB0BD;
$dark: #0B3948;
$light: #D9DBF1;
$grey: #D0CDD7;
$yellow: #EEB902;

$main-color: #FFF9FB;
$red: #BB0A21;
$blue: #4B88A2;
$dark: #252627;
$darken: #D3D4D9;
$white: #FFF;

//COMMON COLORS
$black: #000;
$white: #fff;

//LINK COLORS
$burnt_sienna: #ED7761;

//SELECTION COLORS
