
$base-line-height: 1.5;
$base-font-size: 16px;

//widths, heights, sizes, timings, settings


// fonts
// fonts
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Mina|Raleway|Roboto|Roboto+Condensed|Rozha+One');
$font-main: 'Inter UI', sans-serif;
$font-safe: 'Roboto', sans-serif;
$font-superaccent: 'Mina', sans-serif;
$font-clearstrong: 'Lato', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;
$font-peace: 'Raleway', sans-serif;
$font-quote: 'Rozha One', serif;
